<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="Member">
        insert into member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile) values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>
    <select id="login" resultType="member">
        select * from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
    <select id="members" resultType="member">
        select * from member_table
    </select>
    <select id="findByMember" resultType="member" parameterType="Long">
        select * from member_table where memberId=#{memberId}
    </select>
</mapper>














